<web-app>

    <servlet>
        <servlet-name>createacc</servlet-name>
        <servlet-class>createacc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createacc</servlet-name>
        <url-pattern>/createacc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createlibacc</servlet-name>
        <servlet-class>createlibacc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createlibacc</servlet-name>
        <url-pattern>/createlibacc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>liblogin</servlet-name>
        <servlet-class>liblogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>liblogin</servlet-name>
        <url-pattern>/liblogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>faclogin</servlet-name>
        <servlet-class>faclogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>faclogin</servlet-name>
        <url-pattern>/faclogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>stulogin</servlet-name>
        <servlet-class>stulogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>stulogin</servlet-name>
        <url-pattern>/stulogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addbook</servlet-name>
        <servlet-class>addbook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addbook</servlet-name>
        <url-pattern>/addbook</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>viewbook</servlet-name>
        <servlet-class>viewbook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewbook</servlet-name>
        <url-pattern>/viewbook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deletebook</servlet-name>
        <servlet-class>deletebook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletebook</servlet-name>
        <url-pattern>/deletebook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updatebook</servlet-name>
        <servlet-class>updatebook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updatebook</servlet-name>
        <url-pattern>/updatebook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>searchisbn</servlet-name>
        <servlet-class>searchisbn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchisbn</servlet-name>
        <url-pattern>/searchisbn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>searchtitle</servlet-name>
        <servlet-class>searchtitle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchtitle</servlet-name>
        <url-pattern>/searchtitle</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>searchauthor</servlet-name>
        <servlet-class>searchauthor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchauthor</servlet-name>
        <url-pattern>/searchauthor</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>borrowbook</servlet-name>
        <servlet-class>borrowbook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>borrowbook</servlet-name>
        <url-pattern>/borrowbook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>renewbook</servlet-name>
        <servlet-class>renewbook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>renewbook</servlet-name>
        <url-pattern>/renewbook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>returnbook</servlet-name>
        <servlet-class>returnbook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>returnbook</servlet-name>
        <url-pattern>/returnbook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>reservebook</servlet-name>
        <servlet-class>reservebook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reservebook</servlet-name>
        <url-pattern>/reservebook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>checkfine</servlet-name>
        <servlet-class>checkfine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkfine</servlet-name>
        <url-pattern>/checkfine</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>forgotpassword</servlet-name>
        <servlet-class>forgotpassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forgotpassword</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>

</web-app>